<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
 <listener class-name="com.MySeleniumProject_2.utility.ListenersClass_2"></listener>
</listeners>
  <test thread-count="5" name="Test_All">
  <parameter name="browser" value="Chrome"></parameter>
    <classes>
      <class name="com.MySeleniumProject_2.testcases.CompleteVerificationScenario"/>
      <!-- <class name="com.MySeleniumProject_2.testcases.AddProductToCartScenario"/>
      <class name="com.MySeleniumProject_2.testcases.CheckOutPageScenario"/>
      <class name="com.MySeleniumProject_2.testcases.AddingInfoPageScenario"/>
      <class name="com.MySeleniumProject_2.testcases.VerifyPriceScenario"/>
      <class name="com.MySeleniumProject_2.testcases.CompleteVerificationScenario"/> -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
 